/* Global styles */

* {
  margin: 0;
}

/*Banner section styles */
.banner-container {
  display: flex;
  align-items: center;
  background-color: rgba(229, 84, 115, 0.1);
  gap: 60px;
  padding-top: 50px;
}

.banner-description {
  padding-left: 150px;
  padding-top: 150px;
}

.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 50px;
  font-weight: 800;
}

.banner-sub-title {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  margin: 32px 0px 32px 0px;
}
.banner-shop-btn {
  border-radius: 8px;
  background: #e55473;
  color: white;
  font-size: 20px;
  border: none;
  padding: 20px 43px;
}

.banner-pic {
  width: 500px;
  height: 630px;
  padding-right: 150px;
}

/*Featured Flowers section styles */

.feature-flower-items {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.description-feature-flower {
  margin-top: 178px;
}

.title-featured-flower {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
}

.sub-title-featured-flower {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
}

.feature-flower-pic {
  background-size: 1064px 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.feature-flower-items figure > figcaption {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  text-decoration-line: underline;
}

/*Delivery section styles*/

/*Hot deals section styles*/

/*Insta section styles*/

/*Customer Reviews section styles*/

/*Subscribe section  styles*/

/*Footer section styles */
